---
import Game from "../components/Game.tsx";
import Help from "../components/Help.tsx";
import { SEO } from "astro-seo";
import "modern-normalize/modern-normalize.css";
import "../main.css";
import { seoConfig, manifest } from "../../utils/pwaConfig.ts";

const title = "fruit game";
const description = "";
const disableIndexing = false;
const ogTitle = "";
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link
            rel="apple-touch-icon"
            sizes="180x180"
            href="/fruitgame/apple-touch-icon.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="32x32"
            href="/fruitgame/favicon-32x32.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="16x16"
            href="/fruitgame/favicon-16x16.png"
        />
        <link rel="manifest" href="/fruitgame/manifest.webmanifest" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <meta name="theme-color" content={manifest.theme_color} />
        <title>fruit game</title>
        <SEO
            title={title}
            description={seoConfig.description || description}
            noindex={disableIndexing}
            nofollow={disableIndexing}
            openGraph={{
                basic: {
                    title: ogTitle || title,
                    type: "website",
                    image: seoConfig.image.url,
                },
                image: {
                    width: seoConfig.image.width,
                    height: seoConfig.image.height,
                    alt: seoConfig.image.alt,
                },
                optional: {
                    siteName: seoConfig.siteName,
                    description: seoConfig.description || description,
                },
            }}
            twitter={{
                card: seoConfig.twitter.card,
            }}
        />
    </head>
    <body>
        <h1>fruit game</h1>
        <Game client:load />
        <Help client:load />
    </body>
</html>
